local.config

*~
#*#
.#*

*.class
*.pyc
*.apk
*.dex
*.apk.d
*.ap_
*.ap_.d
.project
.classpath
.settings 
timestamp.txt
stamp.app.properties

# Package Files #
*.war
*.ear

bin/*.jar
bin/api-*/*

models/api-*/*
stamp_output/*


tomcat/logs/*
tomcat/work/Catalina/localhost/*
tomcat/webapps/*
