local.config

*.class
*~
*.apk
.project
.classpath
.settings
timestamp.txt

# Package Files #
*.war
*.ear

bin/*.jar
bin/api-*/*

models/api-*/*
stamp_output/*
apps/*

tomcat/logs/*
tomcat/work/Catalina/localhost/*
tomcat/webapps/*
