stamp.androidtarget="Google Inc.:Google APIs:19"
stamp.maxheap=4g
chord.bddbddb.max.heap=4g
chord.verbose=2
stamp.show.results=false

# tests
stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java,cfl-init-new-dlog,cfl-annot-dlog,cfl-debug-dlog,relprinter,tests

# tests callback
#stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java,cfl-init-new-dlog,cfl-annot-dlog,cfl-debug-dlog,relprinter,tests-callback
