stamp.androidtarget="Google Inc.:Google APIs:19"
stamp.maxheap=4g
chord.bddbddb.max.heap=4g
chord.verbose=2
stamp.show.results=false
#stamp.max.harness.size=1
#stamp.apposcopy=true
#stamp.report.dir=/home/saswat/work/appreports

# tests
stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java,cfl-init-new-dlog,cfl-annot-dlog,cfl-debug-dlog,relprinter,tests

# tests callback
#stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java,cfl-init-new-dlog,cfl-annot-dlog,cfl-debug-dlog,relprinter,tests-callback

# missing refref (cfl-stub-dlog, cfl-ph-pt-dlog) and implicit flow (implicit-annotation-java, cfl-annot-implicit-dlog)
#stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-debug-dlog,cfl-stub-dlog,cfl-ph-pt-dlog,implicit-annotation-java,cfl-annot-implicit-dlog,cflsolver-java
