stamp.androidtarget="Google Inc.:Google APIs:19"
stamp.maxheap=4g
chord.bddbddb.max.heap=4g

stamp.analyses.pre=inject-annot,comp-java-1,base-java,comp-java-2,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog
stamp.analyses.main=typefilter-dlog,pt-obj-dlog,comp-flow-dlog,iccg-dlog,taint-lim-dlog
#stamp.analyses.post=
stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java

#stamp.printrels=Alloc,MV,reachableCM,CC,CH,pt,fpt,Dispatch,StatIM
stamp.printrels=CallerComp,MC,ICCG,IntentTgtField,CH,fpt,pt,reachableCM,CC,CI,CICM,TgtAction,TgtDataType,CSC,SCH,ICCMeth,GlobalAlloc,Launch,ObjSC


#stamp.max.harness.size=1
