stamp.analyses.pre=inject-annot,base-java,annot-java,contexts-java,context-label-java,pre-dlog
stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java
stamp.printrels=

chord.verbose=2
stamp.maxheap=4096m
stamp.browser=google-chrome
stamp.osx_browser=Aurora
#stamp.androidtarget="Google Inc.:Google APIs:15"
stamp.androidtarget="android-15"
chord.bddbddb.max.heap=4096m
#this option is obselete
chord.max.heap=4096m

stamp.apposcopy=false
stamp.report.dir=
