stamp.analyses.pre=inject-annot,base-java,annot-java,contexts-java,context-label-java,pre-dlog
stamp.analyses.post=cfl-dlog,pt-ph-dlog,relationprinter,jimpleprinter,post-dlog,post-java
stamp.printrels=

chord.verbose=2
stamp.maxheap=2048m
stamp.browser=google-chrome
stamp.osx_browser=Aurora
stamp.androidtarget="Google Inc.:Google APIs:15"
chord.bddbddb.max.heap=4096m
chord.max.heap=4096m
