chord.verbose=2
stamp.maxheap=4096m
stamp.browser=google-chrome
stamp.osx_browser=Aurora
stamp.androidtarget="Google Inc.:Google APIs:19"
chord.bddbddb.max.heap=4096m

stamp.show.results=false

#this option is obselete
chord.max.heap=4096m

stamp.apposcopy=false
stamp.report.dir=

# k-cfa points-to analysis
stamp.analyses.pre=jimpleprinter,callbacks-fix,gui-fix,inline-fix,inject-annot,base-java,annot-java,contexts-java,context-label-java,pre-dlog
stamp.analyses.main=typefilter-dlog,pt-dlog,taint-lim-dlog

# k-obj points-to analysis
#stamp.analyses.pre=jimpleprinter,callbacks-fix,gui-fix,inline-fix,inject-annot,base-java,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
#stamp.analyses.main=typefilter-dlog,pt-obj-dlog,taint-lim-dlog

# basic
#stamp.analyses.post=post-dlog,post-java,cfl-misc-dlog

# basic cflsolver
stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,cflsolver-java

# tests
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,relprinter,tests

# source-sink inference
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,cflsolver-java

# alias model inference
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,dynamic-points-to-parser-java,cfl-pt-dyn-active-dlog,cfl-alias-models-dlog,cfl-active-alias-models-dlog,cfl-alias-models-debug-dlog,cfl-int-dlog,cfl-alias-models-short-dlog,alias-models-short-java,alias-models-java

# asymptotic points-to
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,dynamic-points-to-parser-java,cfl-pt-dyn-dlog,cfl-taint-dlog,cfl-virtcall-dlog,cfl-taint-dyn-dlog,cfl-virtcall-dyn-dlog,preinst

# missing refref
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,cfl-stub-dlog,cfl-ph-pt-dlog,cflsolver-java

# implicit flows
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,implicit-annotation-java,cfl-annot-implicit-dlog,exception-java,cfl-except-dlog,implicit-exception-java,cfl-taint-impexcept-dlog,cflsolver-java

# reflection
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,cfl-reflect-dlog

# points-to cuts
#stamp.analyses.post=post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-init-new-dlog,cfl-annot-dlog,cfl-misc-dlog,cfl-pt-cut-dlog,relprinter,pt-cut,preinst
