<root>
<class chordsig="android.util.Config" line="3">
<method
 chordsig="&lt;init&gt;:()V@android.util.Config"
 sig="Config()"
 line="5"
 startpos="74"
 endpos="80"
>
	<newexpr line="5" chordsig="&lt;init&gt;:(Ljava/lang/String;)V@java.lang.RuntimeException" start="95" length="16" type="invoke">
			<expr><![CDATA[new RuntimeException("Stub!")]]></expr>
		<param  start="91" length="29" line="5">
			<expr><![CDATA[new RuntimeException("Stub!")]]></expr>
		</param>
		<param  start="112" length="7" line="5">
			<expr><![CDATA["Stub!"]]></expr>
		</param>
	</newexpr>
	<type  start="95" length="16" line="5" chordsig="java.lang.RuntimeException"/>
</method>
</class>
</root>
