CallRef[i] :: paramRef[i] | _retRef[i]
CallPrim[i] :: paramPrim[i] | _retPrim[i]

Other :: new
       | asgnRef
       | loadRef[*]
       | storeRef[*]
       | arrStoreRef
       | asgnPrim
       | loadPrim[*]
       | storePrim[*]
       | arrLoadPrim
       | arrStorePrim
       | prim2Prim
       | prim2Ref
       | ref2Prim
       | ref2Ref

CondFlow :: prim2SinkByPrim
          | prim2SinkByRef
          | ref2SinkByPrim
          | ref2SinkByRef

#==============================================================================

# Haven't crossed a conditional flow annotation.
S :: S T1
   | S T3
   | S Other
   | S _Other
   | -
T1    :: CallRef[i] T2[i]
T2[i] :: S _CallRef[i]
T3    :: CallPrim[i] T4[i]
T4[i] :: S _CallPrim[i]

# Crossed a conditional flow annotation.
# Can only be encountered once, in straight direction.
CS :: CS T1
    | CS T3
    | S CT1
    | S CT3
    | S CondFlow
    | CS Other
    | CS _Other
CT1    :: CallRef[i] CT2[i]
CT2[i] :: CS _CallRef[i]
CT3    :: CallPrim[i] CT4[i]
CT4[i] :: CS _CallPrim[i]

#==============================================================================

UnbalCall :: CallRef[*] | CallPrim[*]

LabelIn :: label2Prim | label2Ref
LabelOut :: prim2Sink | ref2Sink
StatMove :: statStoreRef statLoadRef
          | _statLoadRef _statStoreRef
          | statStorePrim statLoadPrim
          | _statLoadPrim _statStorePrim

# Haven't crossed a conditional flow annotation.
P :: srcLabel LabelIn S
   | P _UnbalCall S
   | P StatMove S
   | N StatMove S

N :: P UnbalCall S
   | N UnbalCall S

# Crossed a single conditional flow annotation.
CP :: srcLabel LabelIn CS
    | P _UnbalCall CS
    | P StatMove CS
    | N StatMove CS
    | CP _UnbalCall S
    | CP StatMove S
    | CN StatMove S

CN :: P UnbalCall CS
    | N UnbalCall CS
    | CP UnbalCall S
    | CN UnbalCall S

#==============================================================================

Src2Sink :: P LabelOut
	  | N LabelOut
          | CP _LabelIn sinkLabel
	  | CN _LabelIn sinkLabel

.paths Src2Sink 1
