Other :: new | asgnRef | storeRef[*] | loadRef[*] | arrStoreRef | arrLoadRef
       | asgnPrim | storePrim[*] | loadPrim[*] | arrStorePrim | arrLoadPrim
       | prim2Prim | prim2Ref | ref2Prim | ref2Ref
       | prim2SinkByPrim | prim2SinkByRef | ref2SinkByPrim | ref2SinkByRef

CallRef[i] :: paramRef[i] | _retRef[i]
CallPrim[i] :: paramPrim[i] | _retPrim[i]
UnbalCall :: CallRef[*] | CallPrim[*]
StatMove :: statStoreRef statLoadRef
          | statStorePrim statLoadPrim

LabelIn :: label2Prim | label2Ref
LabelOut :: prim2Sink | ref2Sink

#==============================================================================

P :: srcLabel LabelIn
   | P _UnbalCall
   | P Other | P _Other | P S
   | P StatMove | P _StatMove
   | N StatMove | N _StatMove

N :: P UnbalCall
   | N UnbalCall
   | N Other | N _Other | N S

InRefFun[i] :: CallRef[i]
	     | InRefFun[i] Other
	     | InRefFun[i] _Other
	     | InRefFun[i] S
InPrimFun[i] :: CallPrim[i]
	      | InPrimFun[i] Other
	      | InPrimFun[i] _Other
	      | InPrimFun[i] S
S :: InRefFun[i] _CallRef[i]
   | InPrimFun[i] _CallPrim[i]

#==============================================================================

ToSink :: LabelOut
        | _LabelIn sinkLabel
Src2Sink :: P ToSink
	  | N ToSink

.paths Src2Sink 1
