0:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.BuildConfig: void <init>()>:4,
	Parameters: [],
	ParameterLocals: [r0]}]
1:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.BuildConfig: void <init>()>:4,
	Returns: obj:stamp.stanford.malware.BuildConfig:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
2:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.BuildConfig: void <init>()>,
	At: <stamp.stanford.malware.BuildConfig: void <init>()>:4,
	Returns: obj:stamp.stanford.malware.BuildConfig:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
3:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.BuildConfig: void <init>()>,
	At: <stamp.stanford.malware.BuildConfig: void <init>()>:4,
	Parameters: []}]
4:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void <init>()>,
	At: <stamp.stanford.malware.ImplicitActivity: void <init>()>:7,
	Parameters: [],
	ParameterLocals: [r0]}]
5:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void <init>()>,
	At: <stamp.stanford.malware.ImplicitActivity: void <init>()>:7,
	Returns: obj:stamp.stanford.malware.ImplicitActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
6:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: void <init>()>,
	At: <stamp.stanford.malware.ImplicitActivity: void <init>()>:7,
	Returns: obj:stamp.stanford.malware.ImplicitActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
7:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: void <init>()>,
	At: <stamp.stanford.malware.ImplicitActivity: void <init>()>:7,
	Parameters: []}]
8:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:10,
	Parameters: [obj:stamp.stanford.malware.ImplicitActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.os.Bundle:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0, r1]}]
9:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:10,
	Returns: other:VOID_TYPE}]
10:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: void setContentView(int)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:11,
	Parameters: [obj:stamp.stanford.malware.ImplicitActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,int:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0, __IMMEDIATE__]}]
11:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: void setContentView(int)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:11,
	Returns: other:VOID_TYPE}]
12:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: android.content.Intent getIntent()>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:13,
	Parameters: [obj:stamp.stanford.malware.ImplicitActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0]}]
13:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: android.content.Intent getIntent()>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:13,
	Returns: obj:android.content.Intent:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
14:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: android.os.Bundle getExtras()>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:13,
	Parameters: [obj:android.content.Intent:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [$r4]}]
15:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: android.os.Bundle getExtras()>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:13,
	Returns: obj:android.os.Bundle:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
16:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.os.Bundle: java.lang.String getString(java.lang.String)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:13,
	Parameters: [obj:android.os.Bundle:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [$r5, __IMMEDIATE__]}]
17:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.os.Bundle: java.lang.String getString(java.lang.String)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:13,
	Returns: string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
18:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.telephony.SmsManager: android.telephony.SmsManager getDefault()>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:15,
	Parameters: [],
	ParameterLocals: []}]
19:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.telephony.SmsManager: android.telephony.SmsManager getDefault()>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:15,
	Returns: obj:android.telephony.SmsManager:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
20:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.telephony.SmsManager: void sendTextMessage(java.lang.String,java.lang.String,java.lang.String,android.app.PendingIntent,android.app.PendingIntent)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:16,
	Parameters: [obj:android.telephony.SmsManager:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,other:NULL_TYPE,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,other:NULL_TYPE,other:NULL_TYPE],
	ParameterLocals: [r3, __IMMEDIATE__, __IMMEDIATE__, r2, __IMMEDIATE__, __IMMEDIATE__]}]
21:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.telephony.SmsManager: void sendTextMessage(java.lang.String,java.lang.String,java.lang.String,android.app.PendingIntent,android.app.PendingIntent)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:16,
	Returns: other:VOID_TYPE}]
22:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:17,
	Returns: other:VOID_TYPE}]
23:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.ImplicitActivity: void onCreate(android.os.Bundle)>:10,
	Parameters: [obj:stamp.stanford.malware.ImplicitActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.os.Bundle:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_]}]
24:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void <init>()>,
	At: <stamp.stanford.malware.MainActivity: void <init>()>:14,
	Parameters: [],
	ParameterLocals: [r0]}]
25:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void <init>()>,
	At: <stamp.stanford.malware.MainActivity: void <init>()>:14,
	Returns: obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
26:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void <init>()>,
	At: <stamp.stanford.malware.MainActivity: void <init>()>:14,
	Returns: obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
27:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void <init>()>,
	At: <stamp.stanford.malware.MainActivity: void <init>()>:14,
	Parameters: []}]
28:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:18,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.os.Bundle:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0, r1]}]
29:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.app.Activity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:18,
	Returns: other:VOID_TYPE}]
30:[NewObjectRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Local: $r9,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:23,
	Type: android.content.ComponentName}]
31:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.ComponentName: void <init>(java.lang.String,java.lang.String)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:23,
	Parameters: [string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [$r9, r2, r3]}]
32:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.ComponentName: void <init>(java.lang.String,java.lang.String)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:23,
	Returns: obj:android.content.ComponentName:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
33:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void setContentView(int)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:25,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,int:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0, __IMMEDIATE__]}]
34:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void setContentView(int)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:25,
	Returns: other:VOID_TYPE}]
35:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: java.lang.Object getSystemService(java.lang.String)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:26,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0, __IMMEDIATE__]}]
36:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: java.lang.Object getSystemService(java.lang.String)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:26,
	Returns: obj:java.lang.Object:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
37:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.telephony.TelephonyManager: java.lang.String getDeviceId()>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:27,
	Parameters: [obj:android.telephony.TelephonyManager:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r6]}]
38:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.telephony.TelephonyManager: java.lang.String getDeviceId()>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:27,
	Returns: string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
39:[NewObjectRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Local: $r11,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:28,
	Type: android.content.Intent}]
40:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: void <init>()>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:28,
	Parameters: [],
	ParameterLocals: [$r11]}]
41:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: void <init>()>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:28,
	Returns: obj:android.content.Intent:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
42:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: android.content.Intent setComponent(android.content.ComponentName)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:34,
	Parameters: [obj:android.content.Intent:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.content.ComponentName:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r8, r5]}]
43:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: android.content.Intent setComponent(android.content.ComponentName)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:34,
	Returns: other:UNUSED_VALUE}]
44:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: android.content.Intent putExtra(java.lang.String,java.lang.String)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:39,
	Parameters: [obj:android.content.Intent:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r8, __IMMEDIATE__, r7]}]
45:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <android.content.Intent: android.content.Intent putExtra(java.lang.String,java.lang.String)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:39,
	Returns: other:UNUSED_VALUE}]
46:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void startActivity(android.content.Intent)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:41,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.content.Intent:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_],
	ParameterLocals: [r0, r8]}]
47:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void startActivity(android.content.Intent)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:41,
	Returns: other:VOID_TYPE}]
48:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:42,
	Returns: other:VOID_TYPE}]
49:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>,
	At: <stamp.stanford.malware.MainActivity: void onCreate(android.os.Bundle)>:18,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.os.Bundle:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_]}]
50:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: java.lang.Class foo()>,
	At: <stamp.stanford.malware.MainActivity: java.lang.Class foo()>:47,
	Returns: obj:java.lang.Class:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
51:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: java.lang.Class foo()>,
	At: <stamp.stanford.malware.MainActivity: java.lang.Class foo()>:47,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_]}]
52:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: boolean onCreateOptionsMenu(android.view.Menu)>,
	At: <stamp.stanford.malware.MainActivity: boolean onCreateOptionsMenu(android.view.Menu)>:54,
	Returns: boolean:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
53:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.MainActivity: boolean onCreateOptionsMenu(android.view.Menu)>,
	At: <stamp.stanford.malware.MainActivity: boolean onCreateOptionsMenu(android.view.Menu)>:54,
	Parameters: [obj:stamp.stanford.malware.MainActivity:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,obj:android.view.Menu:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_]}]
54:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$attr: void <init>()>:11,
	Parameters: [],
	ParameterLocals: [r0]}]
55:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$attr: void <init>()>:11,
	Returns: obj:stamp.stanford.malware.R$attr:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
56:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$attr: void <init>()>,
	At: <stamp.stanford.malware.R$attr: void <init>()>:11,
	Returns: obj:stamp.stanford.malware.R$attr:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
57:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$attr: void <init>()>,
	At: <stamp.stanford.malware.R$attr: void <init>()>:11,
	Parameters: []}]
58:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$drawable: void <init>()>:13,
	Parameters: [],
	ParameterLocals: [r0]}]
59:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$drawable: void <init>()>:13,
	Returns: obj:stamp.stanford.malware.R$drawable:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
60:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$drawable: void <init>()>,
	At: <stamp.stanford.malware.R$drawable: void <init>()>:13,
	Returns: obj:stamp.stanford.malware.R$drawable:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
61:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$drawable: void <init>()>,
	At: <stamp.stanford.malware.R$drawable: void <init>()>:13,
	Parameters: []}]
62:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$id: void <init>()>:16,
	Parameters: [],
	ParameterLocals: [r0]}]
63:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$id: void <init>()>:16,
	Returns: obj:stamp.stanford.malware.R$id:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
64:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$id: void <init>()>,
	At: <stamp.stanford.malware.R$id: void <init>()>:16,
	Returns: obj:stamp.stanford.malware.R$id:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
65:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$id: void <init>()>,
	At: <stamp.stanford.malware.R$id: void <init>()>:16,
	Parameters: []}]
66:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$layout: void <init>()>:21,
	Parameters: [],
	ParameterLocals: [r0]}]
67:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$layout: void <init>()>:21,
	Returns: obj:stamp.stanford.malware.R$layout:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
68:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$layout: void <init>()>,
	At: <stamp.stanford.malware.R$layout: void <init>()>:21,
	Returns: obj:stamp.stanford.malware.R$layout:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
69:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$layout: void <init>()>,
	At: <stamp.stanford.malware.R$layout: void <init>()>:21,
	Parameters: []}]
70:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$string: void <init>()>:42,
	Parameters: [],
	ParameterLocals: [r0]}]
71:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$string: void <init>()>:42,
	Returns: obj:stamp.stanford.malware.R$string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
72:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$string: void <init>()>,
	At: <stamp.stanford.malware.R$string: void <init>()>:42,
	Returns: obj:stamp.stanford.malware.R$string:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
73:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$string: void <init>()>,
	At: <stamp.stanford.malware.R$string: void <init>()>:42,
	Parameters: []}]
74:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$style: void <init>()>:46,
	Parameters: [],
	ParameterLocals: [r0]}]
75:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R$style: void <init>()>:46,
	Returns: obj:stamp.stanford.malware.R$style:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
76:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$style: void <init>()>,
	At: <stamp.stanford.malware.R$style: void <init>()>:46,
	Returns: obj:stamp.stanford.malware.R$style:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
77:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R$style: void <init>()>,
	At: <stamp.stanford.malware.R$style: void <init>()>:46,
	Parameters: []}]
78:[MethodCallRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R: void <init>()>:10,
	Parameters: [],
	ParameterLocals: [r0]}]
79:[MethodReturnRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <java.lang.Object: void <init>()>,
	At: <stamp.stanford.malware.R: void <init>()>:10,
	Returns: obj:stamp.stanford.malware.R:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
80:[MethodEndRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R: void <init>()>,
	At: <stamp.stanford.malware.R: void <init>()>:46,
	Returns: obj:stamp.stanford.malware.R:_MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_}]
81:[MethodStartRecord{Thread: _MAGICTOKEN:W/04TC4JTKGbcGxq3VBqDQ==_,
	Name: <stamp.stanford.malware.R: void <init>()>,
	At: <stamp.stanford.malware.R: void <init>()>:10,
	Parameters: []}]
